## Verrijkte kleinverbruikergegevens
Creer een nieuwe dataset obv de NEDU profielen en de kleinverbruikergegevens. De nieuwe dataset bevat dan het kleinverbruik per dag per postcode.

De stappen die genomen worden zijn:

1. Inlezen h5 bestanden met de NEDU profielen en kleinverbruikergegevens
2. Voeg profiel toe aan kleinverbruikergegevens
3. Transformeer NEDU profielen set tot een verbruik per dag ipv verbruik per kwartier
4. Nieuw dataframe opbouwen met per dag de volgende data:
* Datum
* Verbruik
* Postcode
* Aantal aansluitingen

Om het juiste profiel te bepalen nemen we 2 dingen mee:
* Wat is percentage meters met een Laag/Hoog tarief. Als dit percentage lager is dan 30% wordt het gebied in een A profiel gezet.
* Ligt het gebied in Noord of Zuid-Nederland. Dit wordt gebruikt om te bepalen of het gebied een E1B of E1C profiel krijgt.

Het verbruik wordt berekend door het verbruik van het profiel behorende bij de postcode te sommeren voor een dag.

In [1]:
import pandas as pd
import numpy as np
import os

# show all columns in the dataframe
pd.set_option('max_columns', None)

In [2]:
# variables used in script
data_processed_location = '../data/processed'

if 'processed' not in os.getcwd():
    os.chdir(data_processed_location)

# kleinverbruikgegevens gegevens inlezen
df_verbruik = pd.read_hdf('kleinverbruikgegevens_data.h5')

# NEDU profielen
df_nedu_profielen = pd.read_hdf('nedu_files.h5')

In [3]:
# Laat alle soorten aansluitingen zien
df_verbruik.SOORT_AANSLUITING.unique()

array(['1X25', '3X25', '1X35', '3X35', '3X63', '1X40', '3X80', '3X50',
       '1X20', '3X40', '1x25', '3x25', '1x35', '1x40', '3x35', '3x63',
       '3x80', '3x50', '3x40', '1x20'], dtype=object)

In [4]:
provincie_limburg = ['61', '62', '63', '64']
provincie_brabant = ['42', '46', '47', '48', '49', '50', '51', '52', '53', '44', '55', '56', '57', '58', '60', '97']
profiel_E1 = ['1X25','3X25', '1X20'] # de rest is profiel E2

# Voeg in de kleinverbruikgegevens, het bijpassende profiel voor de soort aansluiting toe
def vervang_door_profiel(aansluiting, postcode, percentage):
    # Bepaal basisprofiel
    profiel = 'E1' if aansluiting in profiel_E1 else 'E2'

    # Een laag tarief percentage lager dan 30% zetten we in een A profiel
    lh_profiel = 'A' if percentage < 30 else 'B'

    # Bepaal welk laag tarief gebied de postcode zit
    if profiel == 'E1' and lh_profiel == 'B':
        postcode_area = postcode[:2] # PC4
        if postcode_area in provincie_brabant or postcode_area in provincie_limburg:
            lh_profiel = 'C'
    return profiel + lh_profiel

df_verbruik["PROFIEL"] = np.vectorize(vervang_door_profiel)(df_verbruik.SOORT_AANSLUITING, df_verbruik.POSTCODE_VAN, df_verbruik.SJV_LAAG_TARIEF_PERC)
df_verbruik.head()

,NETBEHEERDER,NETGEBIED,STRAATNAAM,POSTCODE_VAN,POSTCODE_TOT,WOONPLAATS,LANDCODE,PRODUCTSOORT,VERBRUIKSSEGMENT,LEVERINGSRICHTING_PERC,AANSLUITINGEN_AANTAL,FYSIEKE_STATUS_PERC,SOORT_AANSLUITING_PERC,SOORT_AANSLUITING,SJV_GEMIDDELD,SJV_LAAG_TARIEF_PERC,SLIMME_METER_PERC,JAAR,PC4,SJV_TOTAAL,PROFIEL
0,Enexis B.V.,ENEXIS,Sasdijk,4251AB,4251AB,WERKENDAM,NL,ELK,KVB,100.0,16,100,0.0,1X25,4282.0,25.0,0.0,2010,4251,69.0,E1A
1,Enexis B.V.,ENEXIS,Sasdijk,4251AC,4251AC,WERKENDAM,NL,ELK,KVB,100.0,11,100,0.0,1X25,5113.0,10.0,0.0,2010,4251,56.0,E1A
2,Enexis B.V.,ENEXIS,Sasdijk,4251AD,4251AD,WERKENDAM,NL,ELK,KVB,100.0,30,100,0.0,3X25,4809.0,34.0,0.0,2010,4251,144.0,E1C
3,Enexis B.V.,ENEXIS,Nieuweweg,4251AE,4251AG,WERKENDAM,NL,ELK,KVB,100.0,21,100,0.0,1X25,5015.0,44.0,0.0,2010,4251,105.0,E1C
4,Enexis B.V.,ENEXIS,Koppenhof,4251AH,4251AH,WERKENDAM,NL,ELK,KVB,100.0,12,100,0.0,1X25,3074.0,22.0,0.0,2010,4251,37.0,E1A

In [5]:
from datetime import datetime
import math

# Voeg een datum kolom toe zodat we kunnen aggreren per datum per profiel
def haal_datum_op(datum):
    datum = pd.to_datetime(datum)
    # Laatste rij is blijkbaar NaN. 
    if math.isnan(datum.year):
        return ''
    return datetime(datum.year,datum.month,datum.day)
df_nedu_profielen["DATUM"] = np.vectorize(haal_datum_op)(df_nedu_profielen.Start)

# Groepeer op datum en sommeer de profielen die we nodig hebben
df_nedu_gereduceerd = df_nedu_profielen.groupby('DATUM').agg({'E1A':'sum', 'E1B':'sum', 'E1C':'sum', 'E2A':'sum', 'E2B':'sum'})

# Sorteer op datum
df_nedu_gereduceerd = df_nedu_gereduceerd.sort_values(by='DATUM')
print (f"Aantal rijen in de NEDU set = {df_nedu_gereduceerd.shape[0]}")

# Check de eerste paar rijen.
df_nedu_gereduceerd.head()

Aantal rijen in de NEDU set = 4018

                 E1A       E1B       E1C       E2A       E2B
DATUM
2010-01-01  0.003261  0.003344  0.003464  0.001992  0.002531
2010-01-02  0.003144  0.003115  0.003006  0.003491  0.003126
2010-01-03  0.003003  0.002898  0.002952  0.003190  0.002986
2010-01-04  0.002622  0.002546  0.002759  0.003222  0.002895
2010-01-05  0.002518  0.002503  0.002419  0.001884  0.002260

In [6]:
# Manier 1. Eerst aantal rijen reduceren tot PC4 en daarna NEDU data invoegen. Wat doen we dan met het profiel?
print (f"Aantal rijen voor reductie = {df_verbruik.shape[0]}")

# groepeer de kleinverbruiker gegevens op PC4 level. Om het gemiddelde profiel te bepalen maken we een custom functie 'bepaal_profiel', die de profielen telt
def bepaal_profiel(series):
    profielen = series.value_counts()

    e1_counts = e2_counts = 0
    for index, value in profielen.items():
        if index[:2] == 'E1':
            e1_counts = e1_counts + value
        else:
            e2_counts = e2_counts + value
    #print (e1_counts, e2_counts)
#profiel = profielen[profielen == max(profielen)].index.values[0]            
    return 'E1B' if e1_counts > e2_counts else 'E2B'

df_verbruik_gereduceerd = df_verbruik.groupby('PC4').agg({'PROFIEL':bepaal_profiel, 'SJV_GEMIDDELD':'sum', 'AANSLUITINGEN_AANTAL':'sum', 'LEVERINGSRICHTING_PERC': 'mean'})

print(f"Aantal rijen na reductie = {df_verbruik_gereduceerd.shape[0]}")

print(f"Aantal E1 profielen = {df_verbruik_gereduceerd[df_verbruik_gereduceerd.PROFIEL == 'E1B'].shape[0]}")
print(f"Aantal E2 profielen = {df_verbruik_gereduceerd[df_verbruik_gereduceerd.PROFIEL == 'E2B'].shape[0]}")

df_verbruik_gereduceerd.head()

Aantal rijen voor reductie = 1391390
Aantal rijen na reductie = 1647
Aantal E1 profielen = 19
Aantal E2 profielen = 1628

     PROFIEL  SJV_GEMIDDELD  AANSLUITINGEN_AANTAL  LEVERINGSRICHTING_PERC
PC4
4251     E2B    13465001.46                 54965               96.440601
4254     E2B     6083345.90                 27539               92.992643
4255     E2B     3748403.28                 18855               92.143663
4261     E2B     7353945.13                 29104               96.062108
4264     E2B     3598768.56                 14406               96.719964

In [7]:
# Manier 2. We maken een dictionary van postcode naar {#aansluitingen, dateframe met NEDU profiel data} en zetten die om naar een dataframe

# Testje met een minimale dictionary
data = { 'POSTCODE': '4251AB', 'AANSLUITINGEN_AANTAL' : 10, 'LEVERINGSRICHTING_PERC' : 34, 'VERBRUIK': {'2010-01-01': 12, '2010-01-02': 15}}
pd.DataFrame.from_dict(data)

           POSTCODE  AANSLUITINGEN_AANTAL  LEVERINGSRICHTING_PERC  VERBRUIK
2010-01-01   4251AB                    10                      34        12
2010-01-02   4251AB                    10                      34        15

In [8]:
# Manier 3. We gebruik de merge methode van pandas. We proberen te mergen op profiel. Hiervoor moet het profielen dataframe wel van structuur veranderen
# Structuur moet worden datum, profiel, verbruik. Dan kunnen we op Profiel proberen te mergen.

# Dit kan vast sneller met een goede pivot of eerst een dictionary opbouwen maar het werkt
df_transform_nedu = pd.DataFrame(columns=["Datum", "Profiel", "Verbruik"])
for index,row in df_nedu_gereduceerd.iterrows():
    df_transform_nedu = df_transform_nedu.append({"Datum":index, "Profiel":"E1A", "Verbruik":row.E1A}, ignore_index=True)
    df_transform_nedu = df_transform_nedu.append({"Datum":index, "Profiel":"E1B", "Verbruik":row.E1B}, ignore_index=True)
    df_transform_nedu = df_transform_nedu.append({"Datum":index, "Profiel":"E1C", "Verbruik":row.E1C}, ignore_index=True)
    df_transform_nedu = df_transform_nedu.append({"Datum":index, "Profiel":"E2A", "Verbruik":row.E2A}, ignore_index=True)
    df_transform_nedu = df_transform_nedu.append({"Datum":index, "Profiel":"E2B", "Verbruik":row.E2B}, ignore_index=True)
df_transform_nedu

           Datum Profiel  Verbruik
0     2010-01-01     E1A  0.003261
1     2010-01-01     E1B  0.003344
2     2010-01-01     E1C  0.003464
3     2010-01-01     E2A  0.001992
4     2010-01-01     E2B  0.002531
...          ...     ...       ...
20085 2021-12-31     E1A  0.003380
20086 2021-12-31     E1B  0.003566
20087 2021-12-31     E1C  0.003775
20088 2021-12-31     E2A  0.002839
20089 2021-12-31     E2B  0.002962

[20090 rows x 3 columns]

In [10]:
import time

# Build a frame per PC4
print ("Lijst met PC4 codes samenstellen", end="..")
PC4_list = df_verbruik.PC4.unique()
pc4_count = len(PC4_list)
print (f"done. Er zijn {pc4_count} pc4 codes")

# First PC4 area in de lijst
first_pc4 = PC4_list[0]

# Schrijf het samengevoegde dataframe naar een bestand
def write_h5(df):
    file = f"pc4_verbruiksdata"

    # Haal een eventuele vorige versie weg
    try:
        os.remove(file + '.h5')
    except:
        # Schrijf het bestand weg
        store = pd.HDFStore(file + '.h5')
        store[file] = df
        store.close()

# Gebruik data van 1 jaar. Anders krijgen we te veel
print ("Filter kleinverbruik data voor 2020", end="..")
df_verbruik = df_verbruik[df_verbruik.JAAR == 2020]
print (f"done")

# Per pc4 area maak een samengevoegd dataframe
i = 1
df_end_frame = None
def do_per_pc4(pc4):
    global i, df_end_frame
    start = time.time()

    print(f'{format(i,"04d")}. Samenvoegen profielen en verbruiksdata voor {pc4}', end = '..')
    i = i + 1

    # Maak kleiner frame
    df_verbruik_pc4 = df_verbruik[df_verbruik.PC4 == pc4]
    
    # Voeg samen met de profielen set
    df_merge = pd.merge(df_verbruik_pc4, df_transform_nedu, left_on=['PROFIEL'], right_on=['Profiel'])

    # Pak alleen de kolommen die we willen hebben
    df_merge = df_merge[['Datum', 'JAAR', 'Verbruik', 'PC4', 'LEVERINGSRICHTING_PERC', 'AANSLUITINGEN_AANTAL', 'PROFIEL', 'SJV_GEMIDDELD', 'PROFIEL']]

    # rol op per pc4 gebied
    df_merge = df_merge.groupby(['Datum', 'PC4']).agg({'Verbruik': 'sum'})

    if df_end_frame is None:
        df_end_frame = df_merge.copy()
    else:
        df_end_frame = df_end_frame.append(df_merge)

    end = time.time()
    exec_tijd = format(end - start, '.1f')
    print(f'done in {exec_tijd}s')

    return df_merge

# Doe voor alle pc4 entries
for pc4 in PC4_list:
    do_per_pc4(pc4)

# Schrijf bestand weg
write_h5(df_end_frame)

nvoegen profielen en verbruiksdata voor 9655..done in 0.8s
1359. Samenvoegen profielen en verbruiksdata voor 9656..done in 0.8s
1360. Samenvoegen profielen en verbruiksdata voor 9657..done in 0.8s
1361. Samenvoegen profielen en verbruiksdata voor 9658..done in 0.8s
1362. Samenvoegen profielen en verbruiksdata voor 9659..done in 0.9s
1363. Samenvoegen profielen en verbruiksdata voor 9661..done in 1.0s
1364. Samenvoegen profielen en verbruiksdata voor 9662..done in 0.9s
1365. Samenvoegen profielen en verbruiksdata voor 9663..done in 1.5s
1366. Samenvoegen profielen en verbruiksdata voor 9665..done in 1.9s
1367. Samenvoegen profielen en verbruiksdata voor 9671..done in 1.5s
1368. Samenvoegen profielen en verbruiksdata voor 9672..done in 0.9s
1369. Samenvoegen profielen en verbruiksdata voor 9673..done in 1.2s
1370. Samenvoegen profielen en verbruiksdata voor 9674..done in 1.2s
1371. Samenvoegen profielen en verbruiksdata voor 9675..done in 1.7s
1372. Samenvoegen profielen en verbruiksdata voor 9677..done in 1.1s
1373. Samenvoegen profielen en verbruiksdata voor 9678..done in 1.0s
1374. Samenvoegen profielen en verbruiksdata voor 9679..done in 1.4s
1375. Samenvoegen profielen en verbruiksdata voor 9681..done in 1.1s
1376. Samenvoegen profielen en verbruiksdata voor 9682..done in 1.0s
1377. Samenvoegen profielen en verbruiksdata voor 9684..done in 1.2s
1378. Samenvoegen profielen en verbruiksdata voor 9685..done in 0.9s
1379. Samenvoegen profielen en verbruiksdata voor 9686..done in 1.1s
1380. Samenvoegen profielen en verbruiksdata voor 9687..done in 0.9s
1381. Samenvoegen profielen en verbruiksdata voor 9688..done in 0.9s
1382. Samenvoegen profielen en verbruiksdata voor 9693..done in 1.1s
1383. Samenvoegen profielen en verbruiksdata voor 9695..done in 1.3s
1384. Samenvoegen profielen en verbruiksdata voor 9696..done in 0.8s
1385. Samenvoegen profielen en verbruiksdata voor 9697..done in 1.1s
1386. Samenvoegen profielen en verbruiksdata voor 9698..done in 1.0s
1387. Samenvoegen profielen en verbruiksdata voor 9699..done in 0.9s
1388. Samenvoegen profielen en verbruiksdata voor 9711..done in 2.2s
1389. Samenvoegen profielen en verbruiksdata voor 9712..done in 2.1s
1390. Samenvoegen profielen en verbruiksdata voor 9713..done in 2.3s
1391. Samenvoegen profielen en verbruiksdata voor 9714..done in 1.5s
1392. Samenvoegen profielen en verbruiksdata voor 9715..done in 2.1s
1393. Samenvoegen profielen en verbruiksdata voor 9716..done in 1.4s
1394. Samenvoegen profielen en verbruiksdata voor 9717..done in 1.7s
1395. Samenvoegen profielen en verbruiksdata voor 9718..done in 1.9s
1396. Samenvoegen profielen en verbruiksdata voor 9721..done in 2.4s
1397. Samenvoegen profielen en verbruiksdata voor 9722..done in 1.9s
1398. Samenvoegen profielen en verbruiksdata voor 9723..done in 1.3s
1399. Samenvoegen profielen en verbruiksdata voor 9724..done in 1.6s
1400. Samenvoegen profielen en verbruiksdata voor 9725..done in 1.6s
1401. Samenvoegen profielen en verbruiksdata voor 9726..done in 1.3s
1402. Samenvoegen profielen en verbruiksdata voor 9727..done in 1.5s
1403. Samenvoegen profielen en verbruiksdata voor 9728..done in 2.1s
1404. Samenvoegen profielen en verbruiksdata voor 9731..done in 1.6s
1405. Samenvoegen profielen en verbruiksdata voor 9732..done in 1.4s
1406. Samenvoegen profielen en verbruiksdata voor 9733..done in 1.4s
1407. Samenvoegen profielen en verbruiksdata voor 9734..done in 1.5s
1408. Samenvoegen profielen en verbruiksdata voor 9735..done in 1.0s
1409. Samenvoegen profielen en verbruiksdata voor 9736..done in 1.7s
1410. Samenvoegen profielen en verbruiksdata voor 9737..done in 1.7s
1411. Samenvoegen profielen en verbruiksdata voor 9738..done in 1.0s
1412. Samenvoegen profielen en verbruiksdata voor 9741..done in 1.8s
1413. Samenvoegen profielen en verbruiksdata voor 9742..done in 2.1s
1414. Samenvoegen profielen en verbruiksdata voor 9743..done in 2.1s
1415. Samenvoegen profielen en verbruiksdata voor 9744..done in 1.6s
1416. Samenvoegen profielen en verbruiksdata voor 9745..done in 1.2s
1417. Samenvoegen profielen en verbruiksdata voor 9746..done in 1.3s
1418. Samenvoegen profielen en verbruiksdata voor 9747..done in 0.8s
1419. Samenvoegen profielen en verbruiksdata voor 9749..done in 0.8s
1420. Samenvoegen profielen en verbruiksdata voor 9751..done in 1.8s
1421. Samenvoegen profielen en verbruiksdata voor 9752..done in 1.7s
1422. Samenvoegen profielen en verbruiksdata voor 9753..done in 1.5s
1423. Samenvoegen profielen en verbruiksdata voor 9755..done in 1.0s
1424. Samenvoegen profielen en verbruiksdata voor 9756..done in 1.0s
1425. Samenvoegen profielen en verbruiksdata voor 9761..done in 1.7s
1426. Samenvoegen profielen en verbruiksdata voor 9765..done in 1.4s
1427. Samenvoegen profielen en verbruiksdata voor 9766..done in 1.0s
1428. Samenvoegen profielen en verbruiksdata voor 9771..done in 1.1s
1429. Samenvoegen profielen en verbruiksdata voor 9773..done in 1.0s
1430. Samenvoegen profielen en verbruiksdata voor 9774..done in 0.9s
1431. Samenvoegen profielen en verbruiksdata voor 9781..done in 2.0s
1432. Samenvoegen profielen en verbruiksdata voor 9784..done in 0.9s
1433. Samenvoegen profielen en verbruiksdata voor 9785..done in 1.0s
1434. Samenvoegen profielen en verbruiksdata voor 9791..done in 1.4s
1435. Samenvoegen profielen en verbruiksdata voor 9792..done in 1.0s
1436. Samenvoegen profielen en verbruiksdata voor 9793..done in 0.9s
1437. Samenvoegen profielen en verbruiksdata voor 9794..done in 0.9s
1438. Samenvoegen profielen en verbruiksdata voor 9795..done in 0.9s
1439. Samenvoegen profielen en verbruiksdata voor 9796..done in 0.9s
1440. Samenvoegen profielen en verbruiksdata voor 9797..done in 1.0s
1441. Samenvoegen profielen en verbruiksdata voor 9798..done in 0.9s
1442. Samenvoegen profielen en verbruiksdata voor 9801..done in 1.8s
1443. Samenvoegen profielen en verbruiksdata voor 9804..done in 1.1s
1444. Samenvoegen profielen en verbruiksdata voor 9805..done in 0.9s
1445. Samenvoegen profielen en verbruiksdata voor 9811..done in 1.0s
1446. Samenvoegen profielen en verbruiksdata voor 9812..done in 0.9s
1447. Samenvoegen profielen en verbruiksdata voor 9821..done in 1.0s
1448. Samenvoegen profielen en verbruiksdata voor 9822..done in 1.1s
1449. Samenvoegen profielen en verbruiksdata voor 9824..done in 0.9s
1450. Samenvoegen profielen en verbruiksdata voor 9825..done in 0.9s
1451. Samenvoegen profielen en verbruiksdata voor 9827..done in 0.9s
1452. Samenvoegen profielen en verbruiksdata voor 9828..done in 1.0s
1453. Samenvoegen profielen en verbruiksdata voor 9831..done in 1.3s
1454. Samenvoegen profielen en verbruiksdata voor 9832..done in 0.9s
1455. Samenvoegen profielen en verbruiksdata voor 9833..done in 1.0s
1456. Samenvoegen profielen en verbruiksdata voor 9842..done in 0.9s
1457. Samenvoegen profielen en verbruiksdata voor 9843..done in 1.3s
1458. Samenvoegen profielen en verbruiksdata voor 9844..done in 1.0s
1459. Samenvoegen profielen en verbruiksdata voor 9845..done in 0.9s
1460. Samenvoegen profielen en verbruiksdata voor 9861..done in 1.4s
1461. Samenvoegen profielen en verbruiksdata voor 9862..done in 0.9s
1462. Samenvoegen profielen en verbruiksdata voor 9863..done in 1.0s
1463. Samenvoegen profielen en verbruiksdata voor 9864..done in 1.0s
1464. Samenvoegen profielen en verbruiksdata voor 9865..done in 1.2s
1465. Samenvoegen profielen en verbruiksdata voor 9866..done in 1.0s
1466. Samenvoegen profielen en verbruiksdata voor 9881..done in 0.9s
1467. Samenvoegen profielen en verbruiksdata voor 9882..done in 0.9s
1468. Samenvoegen profielen en verbruiksdata voor 9883..done in 1.0s
1469. Samenvoegen profielen en verbruiksdata voor 9884..done in 0.9s
1470. Samenvoegen profielen en verbruiksdata voor 9885..done in 1.3s
1471. Samenvoegen profielen en verbruiksdata voor 9886..done in 1.0s
1472. Samenvoegen profielen en verbruiksdata voor 9891..done in 1.1s
1473. Samenvoegen profielen en verbruiksdata voor 9892..done in 1.1s
1474. Samenvoegen profielen en verbruiksdata voor 9893..done in 1.0s
1475. Samenvoegen profielen en verbruiksdata voor 9901..done in 1.5s
1476. Samenvoegen profielen en verbruiksdata voor 9902..done in 1.7s
1477. Samenvoegen profielen en verbruiksdata voor 9903..done in 1.1s
1478. Samenvoegen profielen en verbruiksdata voor 9904..done in 0.9s
1479. Samenvoegen profielen en verbruiksdata voor 9905..done in 1.0s
1480. Samenvoegen profielen en verbruiksdata voor 9906..done in 1.0s
1481. Samenvoegen profielen en verbruiksdata voor 9907..done in 0.9s
1482. Samenvoegen profielen en verbruiksdata voor 9908..done in 0.9s
1483. Samenvoegen profielen en verbruiksdata voor 9909..done in 1.1s
1484. Samenvoegen profielen en verbruiksdata voor 9911..done in 0.9s
1485. Samenvoegen profielen en verbruiksdata voor 9912..done in 0.9s
1486. Samenvoegen profielen en verbruiksdata voor 9913..done in 0.9s
1487. Samenvoegen profielen en verbruiksdata voor 9914..done in 1.0s
1488. Samenvoegen profielen en verbruiksdata voor 9915..done in 1.0s
1489. Samenvoegen profielen en verbruiksdata voor 9917..done in 0.9s
1490. Samenvoegen profielen en verbruiksdata voor 9918..done in 1.0s
1491. Samenvoegen profielen en verbruiksdata voor 9919..done in 1.2s
1492. Samenvoegen profielen en verbruiksdata voor 9921..done in 1.0s
1493. Samenvoegen profielen en verbruiksdata voor 9922..done in 0.9s
1494. Samenvoegen profielen en verbruiksdata voor 9923..done in 0.9s
1495. Samenvoegen profielen en verbruiksdata voor 9931..done in 1.2s
1496. Samenvoegen profielen en verbruiksdata voor 9932..done in 1.4s
1497. Samenvoegen profielen en verbruiksdata voor 9933..done in 1.5s
1498. Samenvoegen profielen en verbruiksdata voor 9934..done in 1.7s
1499. Samenvoegen profielen en verbruiksdata voor 9936..done in 1.2s
1500. Samenvoegen profielen en verbruiksdata voor 9937..done in 0.9s
1501. Samenvoegen profielen en verbruiksdata voor 9939..done in 0.9s
1502. Samenvoegen profielen en verbruiksdata voor 9942..done in 0.9s
1503. Samenvoegen profielen en verbruiksdata voor 9943..done in 0.9s
1504. Samenvoegen profielen en verbruiksdata voor 9944..done in 1.1s
1505. Samenvoegen profielen en verbruiksdata voor 9945..done in 1.1s
1506. Samenvoegen profielen en verbruiksdata voor 9946..done in 1.1s
1507. Samenvoegen profielen en verbruiksdata voor 9947..done in 0.9s
1508. Samenvoegen profielen en verbruiksdata voor 9948..done in 1.0s
1509. Samenvoegen profielen en verbruiksdata voor 9949..done in 0.9s
1510. Samenvoegen profielen en verbruiksdata voor 9951..done in 1.8s
1511. Samenvoegen profielen en verbruiksdata voor 9953..done in 1.2s
1512. Samenvoegen profielen en verbruiksdata voor 9954..done in 0.9s
1513. Samenvoegen profielen en verbruiksdata voor 9955..done in 0.9s
1514. Samenvoegen profielen en verbruiksdata voor 9956..done in 0.9s
1515. Samenvoegen profielen en verbruiksdata voor 9959..done in 1.0s
1516. Samenvoegen profielen en verbruiksdata voor 9961..done in 1.0s
1517. Samenvoegen profielen en verbruiksdata voor 9962..done in 0.9s
1518. Samenvoegen profielen en verbruiksdata voor 9963..done in 0.9s
1519. Samenvoegen profielen en verbruiksdata voor 9964..done in 1.0s
1520. Samenvoegen profielen en verbruiksdata voor 9965..done in 1.1s
1521. Samenvoegen profielen en verbruiksdata voor 9966..done in 0.9s
1522. Samenvoegen profielen en verbruiksdata voor 9967..done in 1.1s
1523. Samenvoegen profielen en verbruiksdata voor 9968..done in 1.0s
1524. Samenvoegen profielen en verbruiksdata voor 9969..done in 0.9s
1525. Samenvoegen profielen en verbruiksdata voor 9971..done in 1.1s
1526. Samenvoegen profielen en verbruiksdata voor 9972..done in 0.9s
1527. Samenvoegen profielen en verbruiksdata voor 9973..done in 0.9s
1528. Samenvoegen profielen en verbruiksdata voor 9974..done in 1.1s
1529. Samenvoegen profielen en verbruiksdata voor 9975..done in 0.9s
1530. Samenvoegen profielen en verbruiksdata voor 9976..done in 1.0s
1531. Samenvoegen profielen en verbruiksdata voor 9977..done in 1.1s
1532. Samenvoegen profielen en verbruiksdata voor 9978..done in 0.9s
1533. Samenvoegen profielen en verbruiksdata voor 9981..done in 1.6s
1534. Samenvoegen profielen en verbruiksdata voor 9982..done in 1.4s
1535. Samenvoegen profielen en verbruiksdata voor 9983..done in 1.1s
1536. Samenvoegen profielen en verbruiksdata voor 9984..done in 1.0s
1537. Samenvoegen profielen en verbruiksdata voor 9985..done in 0.9s
1538. Samenvoegen profielen en verbruiksdata voor 9986..done in 0.9s
1539. Samenvoegen profielen en verbruiksdata voor 9987..done in 0.9s
1540. Samenvoegen profielen en verbruiksdata voor 9988..done in 1.1s
1541. Samenvoegen profielen en verbruiksdata voor 9989..done in 1.2s
1542. Samenvoegen profielen en verbruiksdata voor 9991..done in 1.2s
1543. Samenvoegen profielen en verbruiksdata voor 9992..done in 0.9s
1544. Samenvoegen profielen en verbruiksdata voor 9993..done in 0.9s
1545. Samenvoegen profielen en verbruiksdata voor 9994..done in 0.9s
1546. Samenvoegen profielen en verbruiksdata voor 9995..done in 1.0s
1547. Samenvoegen profielen en verbruiksdata voor 9996..done in 0.9s
1548. Samenvoegen profielen en verbruiksdata voor 9997..done in 1.0s
1549. Samenvoegen profielen en verbruiksdata voor 9998..done in 0.9s
1550. Samenvoegen profielen en verbruiksdata voor 9999..done in 0.9s
1551. Samenvoegen profielen en verbruiksdata voor 5456..done in 0.9s
1552. Samenvoegen profielen en verbruiksdata voor 6353..done in 0.9s
1553. Samenvoegen profielen en verbruiksdata voor 7985..done in 0.9s
1554. Samenvoegen profielen en verbruiksdata voor 8051..done in 0.9s
1555. Samenvoegen profielen en verbruiksdata voor 6167..done in 0.9s
1556. Samenvoegen profielen en verbruiksdata voor 8045..done in 0.9s
1557. Samenvoegen profielen en verbruiksdata voor 9085..done in 1.0s
1558. Samenvoegen profielen en verbruiksdata voor 9613..done in 1.0s
1559. Samenvoegen profielen en verbruiksdata voor 5616..done in 2.1s
1560. Samenvoegen profielen en verbruiksdata voor 5617..done in 1.0s
1561. Samenvoegen profielen en verbruiksdata voor 5652..done in 1.9s
1562. Samenvoegen profielen en verbruiksdata voor 6004..done in 2.0s
1563. Samenvoegen profielen en verbruiksdata voor 6199..done in 0.9s
1564. Samenvoegen profielen en verbruiksdata voor 8153..done in 0.9s
1565. Samenvoegen profielen en verbruiksdata voor 9924..done in 0.9s
1566. Samenvoegen profielen en verbruiksdata voor 5057..done in 1.0s
1567. Samenvoegen profielen en verbruiksdata voor 5651..done in 1.3s
1568. Samenvoegen profielen en verbruiksdata voor 7732..done in 1.0s
1569. Samenvoegen profielen en verbruiksdata voor 5612..done in 2.0s
1570. Samenvoegen profielen en verbruiksdata voor 5613..done in 1.7s
1571. Samenvoegen profielen en verbruiksdata voor 5614..done in 1.3s
1572. Samenvoegen profielen en verbruiksdata voor 5615..done in 1.8s
1573. Samenvoegen profielen en verbruiksdata voor 5621..done in 1.5s
1574. Samenvoegen profielen en verbruiksdata voor 5622..done in 1.8s
1575. Samenvoegen profielen en verbruiksdata voor 5623..done in 2.0s
1576. Samenvoegen profielen en verbruiksdata voor 5624..done in 1.6s
1577. Samenvoegen profielen en verbruiksdata voor 5625..done in 2.1s
1578. Samenvoegen profielen en verbruiksdata voor 5626..done in 1.3s
1579. Samenvoegen profielen en verbruiksdata voor 5627..done in 2.2s
1580. Samenvoegen profielen en verbruiksdata voor 5628..done in 2.2s
1581. Samenvoegen profielen en verbruiksdata voor 5629..done in 1.6s
1582. Samenvoegen profielen en verbruiksdata voor 5631..done in 1.8s
1583. Samenvoegen profielen en verbruiksdata voor 5632..done in 2.5s
1584. Samenvoegen profielen en verbruiksdata voor 5641..done in 1.9s
1585. Samenvoegen profielen en verbruiksdata voor 5642..done in 1.8s
1586. Samenvoegen profielen en verbruiksdata voor 5643..done in 2.0s
1587. Samenvoegen profielen en verbruiksdata voor 5644..done in 1.9s
1588. Samenvoegen profielen en verbruiksdata voor 5645..done in 1.4s
1589. Samenvoegen profielen en verbruiksdata voor 5646..done in 1.2s
1590. Samenvoegen profielen en verbruiksdata voor 5653..done in 1.9s
1591. Samenvoegen profielen en verbruiksdata voor 5654..done in 2.1s
1592. Samenvoegen profielen en verbruiksdata voor 5655..done in 1.5s
1593. Samenvoegen profielen en verbruiksdata voor 5657..done in 1.0s
1594. Samenvoegen profielen en verbruiksdata voor 5658..done in 1.7s
1595. Samenvoegen profielen en verbruiksdata voor 8362..done in 0.9s
1596. Samenvoegen profielen en verbruiksdata voor 9614..done in 1.0s
1597. Samenvoegen profielen en verbruiksdata voor 9622..done in 0.9s
1598. Samenvoegen profielen en verbruiksdata voor 4766..done in 0.9s
1599. Samenvoegen profielen en verbruiksdata voor 4859..done in 0.9s
1600. Samenvoegen profielen en verbruiksdata voor 5352..done in 1.0s
1601. Samenvoegen profielen en verbruiksdata voor 5353..done in 1.0s
1602. Samenvoegen profielen en verbruiksdata voor 5354..done in 1.0s
1603. Samenvoegen profielen en verbruiksdata voor 5355..done in 1.0s
1604. Samenvoegen profielen en verbruiksdata voor 5356..done in 1.0s
1605. Samenvoegen profielen en verbruiksdata voor 5357..done in 1.0s
1606. Samenvoegen profielen en verbruiksdata voor 5358..done in 1.0s
1607. Samenvoegen profielen en verbruiksdata voor 5359..done in 0.9s
1608. Samenvoegen profielen en verbruiksdata voor 5449..done in 1.0s
1609. Samenvoegen profielen en verbruiksdata voor 5647..done in 0.9s
1610. Samenvoegen profielen en verbruiksdata voor 6002..done in 1.6s
1611. Samenvoegen profielen en verbruiksdata voor 6003..done in 1.4s
1612. Samenvoegen profielen en verbruiksdata voor 6005..done in 1.4s
1613. Samenvoegen profielen en verbruiksdata voor 6006..done in 2.2s
1614. Samenvoegen profielen en verbruiksdata voor 6040..done in 0.9s
1615. Samenvoegen profielen en verbruiksdata voor 6170..done in 0.9s
1616. Samenvoegen profielen en verbruiksdata voor 7426..done in 0.9s
1617. Samenvoegen profielen en verbruiksdata voor 7601..done in 1.0s
1618. Samenvoegen profielen en verbruiksdata voor 7607..done in 0.9s
1619. Samenvoegen profielen en verbruiksdata voor 7609..done in 1.0s
1620. Samenvoegen profielen en verbruiksdata voor 7638..done in 1.0s
1621. Samenvoegen profielen en verbruiksdata voor 7647..done in 0.9s
1622. Samenvoegen profielen en verbruiksdata voor 7792..done in 1.0s
1623. Samenvoegen profielen en verbruiksdata voor 7903..done in 0.9s
1624. Samenvoegen profielen en verbruiksdata voor 7915..done in 1.0s
1625. Samenvoegen profielen en verbruiksdata voor 7929..done in 1.0s
1626. Samenvoegen profielen en verbruiksdata voor 8334..done in 0.9s
1627. Samenvoegen profielen en verbruiksdata voor 8343..done in 1.0s
1628. Samenvoegen profielen en verbruiksdata voor 8387..done in 0.9s
1629. Samenvoegen profielen en verbruiksdata voor 8433..done in 1.0s
1630. Samenvoegen profielen en verbruiksdata voor 9231..done in 1.0s
1631. Samenvoegen profielen en verbruiksdata voor 9486..done in 0.9s
1632. Samenvoegen profielen en verbruiksdata voor 9489..done in 0.9s
1633. Samenvoegen profielen en verbruiksdata voor 9609..done in 1.0s
1634. Samenvoegen profielen en verbruiksdata voor 9691..done in 1.0s
1635. Samenvoegen profielen en verbruiksdata voor 9925..done in 1.0s
1636. Samenvoegen profielen en verbruiksdata voor 9957..done in 1.0s
1637. Samenvoegen profielen en verbruiksdata voor 9979..done in 1.0s
1638. Samenvoegen profielen en verbruiksdata voor 5156..done in 1.2s
1639. Samenvoegen profielen en verbruiksdata voor 5157..done in 1.0s
1640. Samenvoegen profielen en verbruiksdata voor 5158..done in 1.0s
1641. Samenvoegen profielen en verbruiksdata voor 5255..done in 1.0s
1642. Samenvoegen profielen en verbruiksdata voor 5257..done in 1.0s
1643. Samenvoegen profielen en verbruiksdata voor 7608..done in 0.9s
1644. Samenvoegen profielen en verbruiksdata voor 7610..done in 1.0s
1645. Samenvoegen profielen en verbruiksdata voor 7928..done in 1.0s
1646. Samenvoegen profielen en verbruiksdata voor 5722..done in 1.0s
1647. Samenvoegen profielen en verbruiksdata voor 7576..done in 0.9s

                 Verbruik
Datum      PC4
2010-01-01 4251  0.571783
2010-01-02 4251  0.774387
2010-01-03 4251  0.730143
2010-01-04 4251  0.716348
2010-01-05 4251  0.517569

In [12]:
df_end_frame.head()

                 Verbruik
Datum      PC4
2010-01-01 4251  0.571783
2010-01-02 4251  0.774387
2010-01-03 4251  0.730143
2010-01-04 4251  0.716348
2010-01-05 4251  0.517569

In [13]:
df_end_frame.tail()

                 Verbruik
Datum      PC4
2021-12-27 7928  0.002992
2021-12-28 7928  0.003174
2021-12-29 7928  0.003449
2021-12-30 7928  0.003143
2021-12-31 7928  0.002962

In [14]:
df_end_frame.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6340404 entries, (Timestamp('2010-01-01 00:00:00'), '4251') to (Timestamp('2021-12-31 00:00:00'), '7928')
Data columns (total 1 columns):
 #   Column    Dtype
---  ------    -----
 0   Verbruik  float64
dtypes: float64(1)
memory usage: 72.8+ MB